.Rproj.user
.Rhistory
.RData
.Ruserdata
Analyses_website_wachttijden_2016.pdf
Output/gemiddelde wachttijd 2016 SGGZ instellingslocaties_alles.png
Output/gemiddelde wachttijd 2016 SGGZ instellingslocaties_subset_janee.png
Output/perc locaties behandel boven norm 2016 instellingen per circuit en type ggz.csv
Output/perc locaties behandel boven norm 2016 vrijgevestigden per circuit en type ggz.csv
Output/perc locaties boven norm 2016 instellingen per circuit en type ggz.csv
Output/perc locaties boven norm 2016 vrijgevestigden per circuit en type ggz.csv
Output/Verdelingen/GGZ NL 2016 verdeling instelling aanmeld.png
Output/Verdelingen/MQ 2016 verdeling instelling aanmeld.png
Output/Verdelingen/MQ 2016 verdeling vrij aanmeld.png
Output/Verdelingen/MQ verdeling gecombineerd BGGZ aanmeld.png
Output/Verdelingen/MQ verdeling gecombineerd SGGZ aanmeld.png
Output/Verdelingen/MQ verdeling instelling SGGZ aanmeld.png
Output/Verdelingen/MQ verdeling vrijgevestigd BGGZ aanmeld.png
Output/Verdelingen/NIP 2016 verdeling aanmeld.png
Output/Verrijkt wachttijden bestand MediQuest 2016 compleet.csv
Output/wachttijden 2016 per circuit en type ggz.csv
Output/wachttijden 2016 vrijgevestigden en type ggz.csv
Output/wachttijden behandel instellingen 2016 per circuit en type ggz.csv
Output/wachttijden behandel vrij 2016 per circuit en type ggz.csv
Work/GEO.csv
Work/MQ16.rds
Work/praktijken zonder type ggz die met vektis getypeerd zijn.csv
Work/toelichting afwijkende regeling verzekeraar.csv
Output/Verdelingen/MQ verdeling vrijgevestigd SGGZ aanmeld.png
Work/oud/MQ16.rds
Work/oud/MQ16 (2).rds
Output/Langste aanmeldwachttijden sggz 18+ bij instellingslocaties _ ED NW.xlsx
Output/Langste aanmeldwachttijden sggz 18+ bij instellingslocaties.csv
Output/Langste aanmeldwachttijden sggz 18+ bij instellingslocaties.xlsx
Output/Langste aanmeldwachttijden sggz 18+ bij instellingslocaties_ed.xlsx
output/gemiddelde wachttijd_2016_sggz_instellingslocaties_alles.png
output/gemiddelde_wachttijd_2016_sggz_instellingslocaties_subset_janee.png
output/langste_aanmeldwachttijden_sggz_18+_bij_instellingslocaties.csv
output/perc_locaties_behandel_boven_norm_2016_instellingen_per_circuit_en_type_ggz.csv
output/perc_locaties_behandel_boven_norm_2016_vrijgevestigden_per_circuit_en_type_ggz.csv
output/perc_locaties_boven_norm_2016_instellingen_per_circuit_en_type_ggz.csv
output/perc_locaties_boven_norm_2016_vrijgevestigden_per_circuit_en_type_ggz.csv
output/verdelingen/ggz_nl_2016_verdeling_instelling_aanmeld.png
output/verdelingen/mq_2016_verdeling_instelling_aanmeld.png
output/verdelingen/MQ_2016_verdeling_vrij_aanmeld.png
output/verdelingen/mq_verdeling_instelling_sggz_aanmeld.png
output/verdelingen/mq_verdeling_vrijgevestigd_sggz_aanmeld.png
output/verdelingen/nip_2016_verdeling_aanmeld.png
output/verrijkt_wachttijden_bestand_mediquest_2016_compleet.csv
output/wachttijden_2016_per_circuit_en_type_ggz.csv
output/wachttijden_2016_vrijgevestigden_en_type_ggz.csv
output/wachttijden_behandel_instellingen_2016_per_circuit_en_type_ggz.csv
output/wachttijden_behandel_vrij_2016_per_circuit_en_type_ggz.csv
work/mq16_geo.csv
work/praktijken_zonder_type_ggz_handmatig_getypeerd.csv
work/praktijken_zonder_type_ggz_handmatige_typering.csv
work/toelichting_afwijkende_regeling_verzekeraar.csv
